@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
*{
	margin: 0;
	text-decoration: none;
	height: 100%;
	width: 100%;
	font-family: VT323, monospace;
	color: rgb(2, 158, 2);	
}
.main{	
	background-color: black;

}

.home{
	
	height: 10%;	
}
.titulo{
	
	width: 70%;	
	text-align: center;
	position: relative;
	left: 15%;
	top: 20px;
	font-size: 30px;
	
}

.opcoes{
	text-align: center;
	cursor: pointer;
	width: 70%;
	height: 100px;
	top: 300px;	
	position: relative;
	
	position: relative;
	left: 15%;
	
}

.btn{
	border-radius: 5px;
	height: 50px;
	width: 100px;	
	display: inline-block;	
	top: 25px;
	position: relative;
	margin-left: 5px;
}

a{	
	text-align: center;
	position: relative;
	top: 15px;
	font-size: 18px;
	
	
}

.portifolio
{
	background-color: rgb(36, 21, 235);
}
.portifolio:hover{
	background-color: rgb(8, 0, 116);
}

.restrito{
	background-color: rgb(255, 0, 0);
}

.restrito:hover{
	background-color: rgb(133, 2, 2);
}