.flex-container
{
	border: solid black 1px;
	height: auto;
	width: auto;
	display: flex;
	margin: auto;
	
}

.flex-item
{	
	height: 40vh;
	margin: auto;
}

.box-foto
{
	border: solid green 2px;
	width: 30%;
}

.box-dados
{
	border: solid yellow 2px;
	width: 70%;
}

@media (max-width: 600px) {
	.flex-container{
		flex-direction: column;
		height: 60vh;
	}

	.flex-container-card{
		width: 80%;
	}
	
	.flex-item{
		width: 100%;
	}
}

@media (min-width: 1200px){
	.flex-container{
		width: 80%;
	
	}

	.flex-container-card{
		width: 80%;
	}
}

.flex-container-card
{
	border: solid 2px black;
	height: 40vh;
	display: flex;
	flex-wrap: wrap;
	height: auto;
	margin: auto;
}

.flex-card{
	border: solid 1px red;
	width: 300px;
	height: 300px;
	margin: auto;
}